body{
    background-image: url(../UL8T.gif);
    background-position: center;
}
#section1 {
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
#sidebar {
    grid-column: 1/2;
}

#page {
    box-shadow: -1px 6px 21px 8px rgba(255, 136, 0);
    background-color: white;
    grid-column: 4/9;
    border-radius: 10px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

#header{
    background-color: rgb(255, 136, 0);
    padding: 3px;
    margin-bottom: 10px;
}
#h1Genero{
    text-align: center;
}

footer{
    position:absolute;
    bottom:0;
    display: flex;
    height: 2.5vw;
    width: 69%;
    justify-content: center;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    margin-left: 15vw;
    margin-right: 15vw;
    background-color: black;
    align-items: center;
    color: black;
    background-color:rgb(255,136,0);
    font-size: 1.4vw;
    border-radius: 0.5vw;
}

table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

ul {
    margin: 3px;
    padding: 0;
    list-style: none;
    width: 100px;
    font-family: arial, sans-serif;
}

ul li {
    position: relative;
    margin-bottom: 3px;;
}
li ul {
    position: absolute;
    left: 149px;
    top: 0;
    display: none;
}

ul li a {
    text-align: center;
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px;
    background-color: white;
    border: 1px solid rgb(255,136,0); 
    border-radius: 20px;
}
ul li a:hover {
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
    padding: 5px;
    background-color: rgb(255,136,0);
    border: 1px solid white; 
    border-radius: 20px;
}

/* Tablets pequenos */
@media screen and (min-width: 620px){
    #section1{
        grid-template-columns: repeat(12,1fr);
    }
    #section2{
        grid-template-columns: repeat(12,1fr);
        font-size: 10px;
    }
    ul {
        margin: 3px;
        padding: 0;
        list-style: none;
        width: 150px;
    }
    
    ul li {
        position: relative;
        margin-bottom: 3px;
    }
    li ul {
        position: absolute;
        left: 149px;
        top: 0;
        display: none;
    }
}

/* Telas grandes e notebooks */
@media screen and (min-width: 960px){
    #section1{
        grid-template-columns: repeat(12,1fr);
    }
    
    #section2{
        grid-template-columns: repeat(12,1fr);
        font-size: 11px;
        grid-column: 2/3;
    
    }
    ul {
        margin: 3px;
        padding: 0;
        list-style: none;
        width: 150px;
    }
    
    ul li {
        position: relative;
        margin-bottom: 3px;;
    }
    li ul {
        position: absolute;
        left: 149px;
        top: 0;
        display: none;
    }
}

/* Desktops */
@media screen and (min-width: 1200px){
    #section1{
        grid-template-columns: repeat(12,1fr);
    }
    
    #section2{
        grid-template-columns: repeat(1, 1fr);
        font-size: 12px;
    }
    ul {
        margin: 3px;
        padding: 0;
        list-style: none;
        width: 150px;
    }
    
    ul li {
        position: relative;
        margin-bottom: 3px;;
    }
    li ul {
        position: absolute;
        left: 149px;
        top: 0;
        display: none;
    }
    
}
