body {
  background-color: rgb(46,46,46);
  overflow-x: hidden;
}

#linha{
    background-color: rgb(128,0,0);
    padding: 3px;
    margin-bottom: 10px;
}

#section1{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

#h1{
    font-family: arial, sans-serif;
    color: black;
}

#form-index{
    font-family: arial, sans-serif;
    color: black;

}

#login{
    border-radius: 5px;
}

footer{
    display: flex;
    height: 2.5vw;
    justify-content: center;
    margin-top:0.5vw;
    margin-bottom: 0.5vw;
    margin-left: 15vw;
    margin-right: 15vw;
    background-color: black;
    align-items: center;
    color: black;
    background-color:rgb(128,0,0);
    font-size: 1.4vw;
    border-radius: 0.5vw;
    bottom: 0;
    width:69%;
    position: absolute;
}


section {
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
#sidebar {
    grid-column: 1/2;
}

#page-index{
    grid-column: 3/8;
    text-align: center;
    width: 160%;
    background-color:rgb(180,180,180);
    border-radius: 10px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    box-shadow: -1px 6px 21px 8px rgb(128,0,0);
}

td, th{
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
    font-size: 10px;
}

table{
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    font-family: arial, sans-serif;
    background-color:rgb(180,180,180);
    border-radius: 0.5vw;
}

ul {
    margin: 3px;
    padding: 0;
    list-style: none;
    width: 100px;
    text-align: center;
    font-family: arial, sans-serif;
}

ul li {
    position: relative;
    margin-bottom: 3px;
}
li ul {
    position: absolute;
    left: 149px;
    top: 0;
    display: none;
}

ul li a {
    display: block;
    text-decoration: none;
    color: black;
    background-color: rgb(105,105,105);
    padding: 5px;
    border: 1px solid rgb(128,0,0); 
    border-radius: 20px;
    text-align: center;
}

ul li a:hover {
    display: block;
    text-decoration: none;
    color: white;
    background-color:rgb(128,0,0);
    padding: 5px;
    border: 1px solid #ccc; 
    border-radius: 20px;
    text-align: center;
}


/*tablets pequenos*/
@media screen and (min-width:620px){
    #section1{
        grid-template-columns: repeat(12,1fr);
    }
        
    th, td{
    font-size: 13px;
    }
    #section2{
        grid-template-columns: repeat(12,1fr);
        font-size: 10px;
    }
        
    ul {
    margin: 3px;
    padding: 0;
    list-style: none;
    width: 150px;
    }
    
    ul li {
        position: relative;
        margin-bottom: 3px;;
    }
    li ul {
        position: absolute;
        left: 149px;
        top: 0;
        display: none;
    }
}

/*telas grandes e notebooks*/
@media screen and (min-width:960px)
{
    #section1 {
        flex-direction: column;
        width: 100vw;
    }
    
    #section2{
         grid-template-columns: repeat(12,1fr);
         grid-column: 2/3;
         font-size: 11px;
    }
    
    th, td{
        font-size: 16px;
    }
    
     ul {
        margin: 3px;
        padding: 0;
        list-style: none;
        width: 150px;
    }
    
    ul li {
        position: relative;
        margin-bottom: 3px;;
    }
    li ul {
        position: absolute;
        left: 149px;
        top: 0;
        display: none;
    }
        
}

@media screen and (min-width:1200px){
    #section1{
        grid-template-columns: repeat(12,1fr);
    }
    
    #section2{
        grid-template-columns: repeat(1,1fr);
        font-size: 12px;
    }
    
    th, td{
        font-size: 16px;
    }
    ul {
        margin: 3px;
        padding: 0;
        list-style: none;
        width: 150px;
    }
    
    ul li {
        position: relative;
        margin-bottom: 3px;;
    }
    li ul {
        position: absolute;
        left: 149px;
        top: 0;
        display: none;
    }
}