#section1 {
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
#sidebar {
    grid-column: 1/2;
}

ul {
    margin: 3px;
    padding: 0;
    list-style: none;
    width: 100px;
    font-family: arial, sans-serif;
}

ul li {
    position: relative;
    margin-bottom: 3px;
}
li ul {
    position: absolute;
    left: 149px;
    top: 0;
    display: none;
}


ul li a {
    text-align: center;
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px;
    background-color: rgb(105,105,105);
    border: 1px solid rgb(128,0,0); 
    border-radius: 20px;
}

ul li a:hover {
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
    padding: 5px;
    background-color: rgb(128,0,0);
    border: 1px solid white; 
    border-radius: 20px;
}
